@use '../../variables' as *;

// .skills-section {

// }
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem;
  padding: 2rem;
}
.skills-card {
  background-color: $color-primary;
  border-radius: 2rem;
  padding: 1rem 2rem;
}

.skills-title {
  text-align: center;
  margin-bottom: $spacing-md;
  color: $color-accent-3;
}

.skills-list {
  list-style-type: circle;
  list-style-position: inside;
}

.skills-list li {
  text-align: left;
  margin-bottom: $spacing-sm;
  margin-left: $spacing-md;
  color: $color-accent-3;
}