@use "../../variables";

footer {

    font-size: large;
    margin-top: variables.$spacing-xl;
    background: variables.$color-primary;
    text-align: center;
}

.footer-copyright {
    padding: variables.$spacing-lg;
}