@use '../../variables' as *;

.project-card {
  max-width: 400px;
  background-color: $color-primary;
  border-radius: $border-radius-lg;
  padding: $spacing-md $spacing-lg;

}

.card-image-wrapper {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.card-desc {
  font-size: $font-size-base;
  color: gray;
}

.card-footer {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1rem;
  gap: 1rem;
}