@use '../../variables' as *;

.project-card {
  max-width: 400px;
  background-color: $color-primary;
  border-radius: $border-radius-lg;
  padding: $spacing-md $spacing-lg;

}
.project-card > h3 {
  font-style: italic;
  color: $color-accent-3;
}

.card-image-wrapper {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  margin-bottom: $spacing-md;
  overflow: hidden;
}

.card-desc {
  font-size: $font-size-base;
  color: $color-accent-4;
  text-align: left;
}

.card-footer {
  display: flex;
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;
}