@use 'variables' as *;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: $color-white;
  background-color: $color-bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $color-accent
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: $color-accent-3;
  line-height: 1.2;
}

h1 {
  font-size: $font-size-h1;
  margin-top: $spacing-sm;
  margin-bottom: $spacing-sm;
}

h2 {
  font-size: $font-size-h2;
  margin-top: $spacing-sm;
  margin-bottom: $spacing-sm;
}

h3 {
  font-size: $font-size-h3;
  margin-bottom: $spacing-sm;
}

h4 {
  font-size: $font-size-h4;
  margin-bottom: $spacing-sm;
}

h5 {
  font-size: $font-size-h5;
  margin-bottom: $spacing-xs;
}

h6 {
  font-size: $font-size-h6;
  margin-bottom: $spacing-xs;
}


section {
  text-align: center;
  margin: 0 auto;
  padding: $spacing-lg;
  width: $section-width;
  border-bottom: 2px dashed $color-accent;
}

p {
  text-align: left;
  line-height: 1.3rem;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  padding-left: 1.25rem;
  margin-bottom: $spacing-sm;
}